# Python virtual environment
venv/

# Python bytecode and cache files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Streamlit specific (optional)
.streamlit/config.toml

# macOS system files
.DS_Store
